@import "../../assets/styles/global";


.payment-form{
    margin: $margin-lg auto;
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: $gray;

    p{font-weight: 500;}

    h3{margin-top: $margin-sm;}

    hr{
        border-top: 2px solid $darkGray;
        width: 100%;
    }

    .total{
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        flex-flow: row;
    }

    .payment{
        padding: 10px;

        img{
            margin: $margin-sm;
            width: 200px;
        }
    }

    @media(max-width: $breakpoint){
        width: 100%;

        h3{font-size: 28px;}

        .payment{
            button span{
                height: 30px !important;
                line-height: 30px !important;
                font-size: 18px !important;
            }
        }
    }
        
    @media(min-width: $breakpoint){
        width: 400px;

        h3{font-size: 35px;}

        .payment{
            button span{
                height: 45px !important;
                line-height: 45px !important;
                font-size: 18px !important;
            }
        }
    }  

}


