// COLORS
$testcolor: #faaf;
$darkBlue: #263059;
$lightBlue: #224EA4;
$green: #36A769;
$orange: #EB7D16;
$gray: #F8F8F8;
$darkGray: #4B505C;

// SIZES
$h1-desktop: 48px;
$h1-mobile: 23px;
$h3-desktop: 23px;
$h3-mobile: 18px;
$p-desktop: 20px;
$p-mobile: 16px;
$feature-img-desktop: 130px;
$feature-img-mobile: 70px;
$title-desktop: 35px;
$title-mobile: 25px;

$font-desktop: 18px;
$font-mobile: 16px;

$font-button-desktop: 23px;
$font-button-mobile: 18px;

// MEDIA QUERIES
$breakpoint: 768px;

// MARGINS
$margin-sm: 15px;
$margin-md: 35px;
$margin-lg: 50px;

@media(max-width: $breakpoint){
    .margin-sm{margin-bottom: 10px;}
    .margin-md{margin-bottom: 25px;}
    .margin-lg{margin-bottom: 35px;}
    .margin-t-sm{margin-top: 10px;}
    .margin-t-md{margin-top: 25px;}
    .margin-t-lg{margin-top: 35px;}
}

@media(min-width: $breakpoint){
    .margin-sm{margin-bottom: 15px;}
    .margin-md{margin-bottom: 35px;}
    .margin-lg{margin-bottom: 50px;}
    .margin-t-sm{margin-top: 15px;}
    .margin-t-md{margin-top: 35px;}
    .margin-t-lg{margin-top: 50px;}
}
