@import "../../assets/styles/global";

@mixin content-box-base{
    color: white;
    text-align: center;

    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%;
    // SHORTHAND: flex: 1 0 33%;
}
    
.step-box{

    padding: 35px;

    @include content-box-base;
    @media(max-width: $breakpoint){  
        h3{font-size: $h1-mobile;}
    }

    @media(min-width: $breakpoint){ 
        h3{font-size: $h1-desktop;}
    }

}

.service-box{
   
    @include content-box-base;

    padding: 35px 15px;

    h3{
        margin-top: $margin-md;
        font-weight: 400;
    }

    @media(max-width: $breakpoint){  
        h3{font-size: $title-mobile;}
    }

    @media(min-width: $breakpoint){ 
        h3{font-size: $title-desktop;}

    }

}