@import "../../assets/styles/global";

form{

    .form-label{
        color: $green;
        font-weight: bold;
    }

    .btn-primary{
        width: 100%;
        border-radius: 2px;
        background: $green;
        text-align: center;
    }

    .forn-control{
        background-color: $gray;
        color: $gray;
    }

    @media(max-width: $breakpoint){
        label, .form-control{font-size: $h3-mobile;}
        .btn-primary{
            font-size: $font-button-mobile;
            padding: 5px 15px;  
        }
      }
    
      @media(min-width: $breakpoint){
        label, .form-control{font-size: $p-desktop;}
        .btn-primary{
            font-size: $font-button-desktop;
            padding: 10px 20px;  
        }
      }
}


