@import "../../assets/styles/global";

footer{

    background-color: $gray;

    .footer-title{
        color: $darkBlue;
        font-weight: bold;
    }

    .footer-links{
        a{
            display: block;
            color: $lightBlue;
        }
    }

    .footer-logo{
        width: 200px;
    }

    .creator{
        text-align: center;
    }

    @media(max-width: $breakpoint){  
        padding: 30px;

        .footer-logo{
            margin-top: $margin-md;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        div{
            margin-top: $margin-sm;
        }
        
        a{font-size: $p-mobile;}
    }

    @media(min-width: $breakpoint){
        padding: 60px;
 
        a{font-size: $p-desktop;}
    }
}