@import "../../assets/styles/global";


@mixin section-header-base($color, $bgColor, $paddingMobile, $paddingDesktop){
    text-align: center;
    background-color: $bgColor;
    color: $color;

    p{font-weight: 400;}

    @media(max-width: $breakpoint){
        padding: $paddingMobile;
        h3{font-size: $h1-mobile;}
        p{font-size: $h3-mobile;}
    }

    @media(min-width: $breakpoint){
        padding: $paddingDesktop;
        h3{font-size: $h1-desktop;}
        p{font-size: $h3-desktop;}
    }
}

.section-header{
    @include section-header-base($darkBlue, $gray, 20px, 25px);
}

// MAKE A WHITE VARIANT








