// COLORS
$testcolor: #faaf;
$darkBlue: #263059;
$lightBlue: #224EA4;
$green: #36A769;
$orange: #EB7D16;

// SIZES
$h1-desktop: 48px;
$h1-mobile: 23px;
$h3-desktop: 23px;
$h3-mobile: 18px;
$feature-img-desktop: 130px;
$feature-img-mobile: 80px;

$font-desktop: 18px;
$font-mobile: 16px;

$font-button-desktop: 23px;
$font-button-mobile: 18px;

// MARGINS
$margin-sm: 15px;
$margin-md: 35px;
$margin-lg: 50px;

// MEDIA QUERIES
$breakpoint: 768px;