@import "../../assets/styles/global";

.hero-bg{
    background: url('../../assets//images/hero-bg.jpg');
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;

    span{
        color: $green;
        font-weight: normal;
    }

    h1{
        color: #ffff;
        font-weight: bold;
        display: block;
        letter-spacing: 1px;
    }

    .title{
        text-align: center;
        justify-self: center;
    }

    .features{
        margin-top: $margin-md;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .hero-buttons{margin-top: $margin-md;}

    .down-arrow{
        margin-top: auto;
    }

    @media(max-width: $breakpoint){
        height: 470px;
        background-position: center center;

        h1{
            margin-top: 40px;
            line-height: 0px;
        }

        .features{
            justify-content: space-evenly;
            width: 100%;
        }
        .down-arrow{ 
            img{width: $feature-img-mobile;}
        }   
    }

    
    @media(min-width: $breakpoint){
        height: 700px;
        background-position: center bottom;

        h1{
            margin-top: 50px;
            line-height: 10px;
        }

        .features{flex-flow: row;}
        .feature{margin-left: $margin-md;}
        .down-arrow{ 
            img{width: $feature-img-desktop;}
        }
    }


}






