@import "../../assets/styles/global";

.banner{
    
    text-align: center;
    background-color: $green;

    h3{
        color: #ffff;
        font-weight: lighter;
        margin: auto;
    }

    @media(max-width: $breakpoint){
        padding: 15px;
    }

    @media(min-width: $breakpoint){
        padding: 20px;
    }

    a{
        text-decoration: underline;
        color: #ffff;
        &:hover{ color: $darkBlue; }
      }

}








